/*.card {*/
/*    max-height: 500px;*/
/*    max-width: 100%;*/
/*}*/

.page_header {
    background-image: url("https://cdn12.picryl.com/photo/2016/12/31/silhouette-girl-dance-people-76774f-1024.jpg");
    max-height: 100%;
    max-width: 100%;
}

.header-button {
    top:50%;
    margin-left: 50px;
    height: 50px;
    width: 100px;
    border-radius: 50%
}

.page_title {
    top: 0;
    left: 50%;
}