{% extends 'form_base.html' %}

{% block heading %}
<div class="container">
<h3>Add a New Artist to the Database</h3>
</div>
{% endblock %}
{% block form_content %}
<p>Please complete all fields and submit to add a new artist.</p>
 <div class="row">
   <form action="{{ url_for('insert_artist') }}" method="POST" class="col s12">
     <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">portrait</i>
         <input placeholder="Artist Name" id="artist_name" name="artist_name" type="text" class="validate">
         <label for="artist_name">Artist</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">add_a_photo</i>
         <input placeholder="Copy Link to Your Profile Image Here" id="profile_image" name="profile_image" type="text" class="validate">
         <label for="profile_image">Profile Picture</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">comment</i>
         <input placeholder="Promotional Content" id="profile_description" name="profile_description" type="text" class="validate">
         <label for="profile_description">Promotional Text</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">euro_symbol</i>
         <select id="budget_range" name="budget_range">
       <option value="" disabled selected>Choose Price Range</option>
       {% for range in price_range %}
       <option value="{{range.price_range}}">{{range.price_range}}</option>
       {% endfor %}
     </select>
         <label>Select Price Range</label>
       </div>
       <div class="input-field col s12">
         <i class="material-icons prefix">library_music</i>
         <select multiple id="genre_category" name="genre_category">
             <option value="" disabled selected>Select All That Apply</option>
             {% for genre in genre %}
             <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
             {% endfor %}
           </select>
         <label>Genre</label>
       </div>
     </div>
     <div class="row">
       <div class="row">
         <div class="switch">
           <label>
                     <input id="active" name="active" type="checkbox">
                     <span class="lever"></span>
                     Is Active
                   </label>
         </div>
       </div>
     </div class="row">
     <button class="btn waves-effect waves-light" type="submit" name="action">Create Artist Profile
             <i class="material-icons right">publish</i>
         </button>
 </div>
 
 </form>
 </div>
 
 
{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='js/myscript.js')}}"></script>>