{% extends 'base.html' %}

<!--{% block heading %}-->
<!--<div class="page_title">-->
<!--<h1 text-align: center;>Gig Listings</h1>-->
<!--</div>-->
<!--{% endblock %}-->
                    
<!--{% block filter %}-->
<!--<ul>-->
<!--    <li class="btn small">Price Range</li><br>-->
<!--    <li class="btn small">Genre</li><br>-->
<!--</ul>-->
<!--{% endblock %}-->
                        
<!--{% block content %}-->
<!--<h3>Upcoming Gigs</h3>-->
<!--{% for gigs in gig_listing %}-->
<!--    <div class="row">-->
<!--        <div class="col-md-3">-->
<!--            <div class="card">-->
<!--                <div class="card-image">-->
<!--                    <img src="https://scontent-dub4-1.xx.fbcdn.net/v/t1.0-0/p200x200/14237749_284221815294194_7703298429456310364_n.jpg?_nc_cat=106&_nc_oc=AQmwMCsvPLE9WLLw6eMbJkrJ4L7Bc4_JrS0ik6hTW_ueMMdUHYzrs02mSAsncL0MuO4&_nc_ht=scontent-dub4-1.xx&oh=fe012a15cfb541dd3ce3966ebdb734b9&oe=5DDEECA6">-->
<!--                    <span class="card-title">DATE & VENUE</span>-->
<!--                </div>-->
<!--                <div class="card-content">-->
<!--                    <ul>-->
<!--                        <li>Date:</li>-->
<!--                        <li>Artist:</li>-->
<!--                        <li>Venue:</li>-->
<!--                        <li>Genre:</li>-->
<!--                        <li>Info:</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="card-action">-->
<!--                    <a href="#" class="btn small"> Band Page</a>-->
<!--                    <a href="#" class="btn small">Venue Page</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--{% endfor %}-->
    
    

<!--{% endblock %}-->