{% extends 'base.html' %}

{% block heading %}
<div class="page_title">
    <a href="{{url_for('add_artist')}}" class="waves-effect waves-light btn">
        Add an Artist
    </a>
<h1>Artist Profiles</h1>
</div>
{% endblock %}
                    
{% block filter %}
<ul>
    <li class="btn small">Price Range</li><br>
    <li class="btn small">Genre</li><br>
</ul>
{% endblock %}
                        
{% block content %}
<h3>Active Artists</h3>
    
{% for artist in artists %}
    <div class="row">
        
            <div class="card">
                <div class="card-image">
                    <img src="{{artist.profile_image}}">
                    <span class="card-title">{{ artist.artist_name }}</span>
                </div>
                <div class="card-content">
                    <div>
                       <a href="#" class="btn-small"><i class="material-icons left">music_note</i>Upcoming Gigs</a>
                    </div>
                    <ul>
                        <li>Description: {{ artist.profile_description }}</li>
                        <li>Genre: {{ artist.genre_category }}</li>
                        <li>Price Range: {{ artist.budget_range }}</li>
                    </ul>
                </div>
                <div class="card-action">
                    <a href="#" class="btn small"> Edit</a>
                    <a href="#" class="btn small">Deactivate</a>
                </div>
            </div>
        
    </div>
{% endfor %}

    
    

{% endblock %}