{% extends 'base.html' %}

{% block heading %}
<div class="page_title">
   
<h1>Artist Profiles</h1>
</div>
{% endblock %}
                    
{% block filter %}
<form action="{{ url_for('select_budget') }}" method="POST" class="col s12">
    <div class="input-field col s12">
        <select id="price_range" name="price_range">
              <option value="" disabled selected>Choose your option</option>
              {% for budget in budget_range %}
              <option value="{{budget.price_range}}">{{budget.price_range}}</option>
              {% endfor %}
        </select>
        <label>Price Range</label>
    </div>
</form>
<!--<ul>-->
<!--    <li class="btn small">Price Range</li><br>-->
<!--    <li class="btn small">Genre</li><br>-->
<!--</ul>-->
{% endblock %}
                        
{% block content %}
<div>
 <a href="{{url_for('add_artist')}}" class="waves-effect waves-light btn header-button">
        Add New Artist
    </a>
</div>

<h3>Active Artists</h3>
    

    <div class="row">
     {% for artist in artists %}   
            <div class="card col-md-3 mx-2">
                <div class="card-image">
                    <img src="{{artist.profile_image}}">
                    <span class="card-title">{{ artist.artist_name }}</span>
                </div>
                <div class="card-content">
                    <div>
                        <button>
                       <a href="{{url_for('gig_listing_artist', artist_id=artist._id)}}" class="btn small"><i class="material-icons left">music_note</i>Upcoming Gigs</a>
                       </button>
                    </div>
                    <div class="card-content profile_description">
                        <p>Description: {{ artist.profile_description }}<p>
                        </div>
                        <div class="card-content">
                        <p>Genre: {{ artist.genre_category }}<p>
                        </div>
                        <div class="card-content">
                        <p>Price Range: {{ artist.budget_range }}<p>
                        </div>
                    </ul>
                </div>
                <div class="row">
                    <div class="card-action">
                        <a href="{{url_for('edit_artist', artist_id=artist._id)}}" class="btn medium"> Edit</a>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn medium">Delete</a>
                    </div>
                </div>
            </div>
        
    
{% endfor %}
</div>
    
    

{% endblock %}
<script>
    $(document).ready(function(){
    $('select').formSelect();
  });
</script>