{% extends 'base.html' %}

{% block heading %}
<div class="page_title">
<h1 text-align: center;>Gig Listings</h1>
<a href="{{url_for('add_gig')}}" class="waves-effect waves-light btn">
        Add New Gig
    </a>
</div>
{% endblock %}
                    
{% block filter %}
<ul>
    <li class="btn small">Date</li><br>
    <li class="btn small">Town</li><br>
    <li class="btn small">Venue</li><br>
    <li class="btn small">Artists</li><br>
    <li class="btn small">Genre</li><br>
</ul>
{% endblock %}
                        
{% block content %}
<h3>Upcoming Gigs</h3>
{% for gigs in gig_listing %}
    <!--<div class="row">-->
    <!--    <div class="listing_image col-2">-->
    <!--        <img src="{{'venue.profile_image'}}"></img> <!--venue image-->-->
    <!--    </div>-->
    <!--    <div class="listing_info col-4">-->
    <!--        <p>Date:</p><br>-->
    <!--        <p>Town:</p><br>-->
    <!--        <p>Venue:</p>-->
    <!--    </div>-->
    <!--    <div class="listing_image col-2">-->
    <!--        <img src="{{'artist.profile_image' }}"></img> <!--band image-->-->
    <!--    </div>-->
    <!--    <div class="listing_info col-4">-->
    <!--        <p>Band:</p><br>-->
    <!--        <p>Genre:</p><br>-->
    <!--        <p>Time:</p>-->
    <!--    </div>-->
    <!--</div>-->
{% endfor %}
    
    

{% endblock %}