{% extends 'base.html' %}

{% block heading %}
<div class="row page_title">

<h1>Gig Listings</h1>


     <p>See all our member <a href="{{url_for('get_artists')}}"><button>Artists</button></a> and <a href="{{url_for('get_venues')}} "><button>Venues</button></a></p>


</div>
{% endblock %}
                    
{% block filter %}
<ul>
    <li class="btn small">Date</li><br>
    <li class="btn small">Town</li><br>
    <li class="btn small">Venue</li><br>
    <li class="btn small">Artists</li><br>
    <li class="btn small">Genre</li><br>
</ul>
{% endblock %}
                        
{% block content %}
<div class="row">
   
        
</div>
<div class="row">
    <h3>Check out our Gigs Below</h3>
</div>
<div class="row">
    
        <div class="col-md-1 listing-image">
            <img src="static/images/mgs-thumbnail.jpg"></img>
        </div>
        <div class="col-md-2 listing-info">
            <ul>
                <li>Venue:{{'gig_listing.venue_name'}}</li>
                <li>Date:</li>
                <li>Town:</li>
            </ul>
        </div>
        <div class="col-md-1 listing-image">
            <img src="static/images/mgs-thumbnail.jpg"></img>
        </div>
        <div class="col-md-2 listing-info">
            <ul>
                <li>Artist:</li>
                <li>Genre:</li>
                <li>Time:</li>
            </ul>
        </div>
        <div class="col-md-2 listing-info">
            <p>Additional Info:</p>
        </div>
    
</div>


{% endblock %}


            
           