{% extends 'base.html' %}

{% block heading %}
<div class="page_title">
<h1 text-align: center;>Gig Listings</h1>
<a href="{{url_for('add_gig')}}" class="waves-effect waves-light btn">
        Add New Gig
    </a>
</div>
{% endblock %}
                    
{% block filter %}
<ul>
    <li class="btn small">Date</li><br>
    <li class="btn small">Town</li><br>
    <li class="btn small">Venue</li><br>
    <li class="btn small">Artists</li><br>
    <li class="btn small">Genre</li><br>
</ul>
{% endblock %}
                        
{% block content %}
<h3>Upcoming Gigs</h3>
{% for gigs in gig_listing %}
  <div class="row">
    
        <div class="col-md-1 listing-image">
            <img src="static/images/mgs-thumbnail.jpg"></img>
        </div>
        <div class="col-md-2 listing-info">
            <ul>
                <li>Venue:{{'gig_listing.venue_name'}}</li>
                <li>Date:</li>
                <li>Town:</li>
            </ul>
        </div>
        <div class="col-md-1 listing-image">
            <img src="static/images/mgs-thumbnail.jpg"></img>
        </div>
        <div class="col-md-2 listing-info">
            <ul>
                <li>Artist:</li>
                <li>Genre:</li>
                <li>Time:</li>
            </ul>
        </div>
        <div class="col-md-2 listing-info">
            <p>Additional Info:</p>
        </div>
{% endfor %}
    
    

{% endblock %}