{% extends 'base.html' %}

{% block heading %}
<div class="page_title">
    <a href="{{url_for('add_artist')}}" class="waves-effect waves-light btn header-button">
        Add New Venue
    </a>
    <h1>Music Venues</h1>
</div>
{% endblock %}
                    
{% block filter %}
<ul>
    <li class="btn small">Town</li><br>
    <li class="btn small">Budget</li><br>
    <li class="btn small">Genre</li><br>
</ul>
{% endblock %}
                        
{% block content %}
<h3>Active Venues</h3>
{% for venue in venues %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <img src="{{venue.profile_image}}">
                    <span class="card-title">{{venue.venue_name }}</span>
                </div>
                <div>
                    <button <button type="button" class="btn btn-primary btn-block">Gig Schedule</button>></button>
                </div>
                <div class="card-content">
                    <ul>
                        <li>Location:{{venue.town_name}}</li>
                        <li>Description:{{venue.profile_description}}</li>
                        <li>Budget:{{venue.budget_range}}</li>
                        <li>Genre:{{venue.genre_category}}</li>
                    </ul>
                </div>
                <div class="card-action">
                    <a href="#" class="btn small">Edit</a>
                    <a href="#" class="btn small">Deactivate</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    
    

{% endblock %}